@import url(http://fonts.googleapis.com/css?family=Lato:300);
.bg-img {
    /* The image used */
    background-image: url("homeimg.jpg");
  
    min-height: 51vw;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Needed to position the navbar */
    position: relative;
  }
  

img#initialbackground{
    display:flex;
    position: scroll;
        height: 100vh;
        width: 200vh;
        position: absolute; 
        top: 6vh; 
        right: 0vw;
        left:0vw;
        display: block;
        background-size:cover;
}